@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #ff926a;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 1% 38% ;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background: var(--cor-terciaria);
    align-items: center
}

.cabecalhomenu {
    display: flex;
    gap: 80px;
    padding: 0% 0% 1% 0% ;
}

.homelanches {
    color: var(--cor-primaria);
    font-family: 'Krona One', sans-serif;
    font-size: 1.063rem;
    text-decoration: none;
}

#linha {
    width: 100%;
    border-bottom: 1px solid var(--cor-terciaria);
  }

.laranja {
    color: var(--cor-terciaria);
}

.laranja2 {
    color: var(--cor-terciaria);
    font-family:'Krona One', sans-serif;
}

.apresentacao {
    padding: 8%  35%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 40px;
}

.apresentacao2 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif
}

.paragrafo {
    font-size: 0.938rem;
    font-family: 'Krona One', sans-serif;
    width: 300px;
}

.informacoes {
    font-size: 0.700rem;
    font-family: 'Krona One', sans-serif;
}

.links {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 280px;
    padding: 15px 0;
}

.linkscaixa {
    display: flex;
    justify-content: center;
    padding: 5px 25px;
    gap: 10px;
    border: 2px solid;
    width: 160px;
    text-align: center;
    border-radius: 4.5px;
    font-size: 0.938rem;
    color: var(--cor-terciaria);
    font-family: 'Krona One', sans-serif;
    font-weight: 500px;
    text-decoration: none;
    
}

.acesse {
    font-family: 'Krona One', sans-serif;
    font-size: 0.938rem;
}

.linkscaixa:hover {
    background-color: rgb(31, 30, 30);
}

.lanchesfotos {
    display: flex;
    justify-content: space-between;
}

.apresentacaoimagem {
    width: 100%;
}

.rodape {
    text-align: center;
    padding: 15px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: 'Krona One', sans-serif;
    font-size: 0.75rem;
}

@media (max-width: 950px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalhomenu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 25%;
    }

    .apresentacaoimagem {
        width: 300px;
    }
}